<?xml version="1.0"?>
<config>
    <modules>
        <Scommerce_GoogleTagManagerPro>
            <version>0.0.47</version>
        </Scommerce_GoogleTagManagerPro>
    </modules>
    <global>
        <models>
            <scommerce_googletagmanagerpro>
                <class>Scommerce_GoogleTagManagerPro_Model</class>
            </scommerce_googletagmanagerpro>
        </models>
        <blocks>
            <scommerce_googletagmanagerpro>
                <class>Scommerce_GoogleTagManagerPro_Block</class>
            </scommerce_googletagmanagerpro>
            <!--catalog>
                <rewrite>
                    <product_list>Scommerce_GoogleTagManagerPro_Block_Product_List</product_list>
                </rewrite>
            </catalog-->
        </blocks>
        <helpers>
            <scommerce_googletagmanagerpro>
                <class>Scommerce_GoogleTagManagerPro_Helper</class>
            </scommerce_googletagmanagerpro>
        </helpers>
        <resources>
            <scommerce_googletagmanagerpro_setup>
                <setup>
                    <module>Scommerce_GoogleTagManagerPro</module>
                </setup>
            </scommerce_googletagmanagerpro_setup>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <scommerce_googletagmanagerpro>
                    <file>scommerce_googletagmanagerpro.xml</file>
                </scommerce_googletagmanagerpro>
            </updates>
        </layout>
        <events>
            <sales_quote_item_set_product>
                <observers>
                    <scommerce_universalanalytics_google_category>
                        <class>scommerce_googletagmanagerpro/observer</class>
                        <method>salesQuoteItemSetTrackingList</method>
                    </scommerce_universalanalytics_google_category>
                </observers>
            </sales_quote_item_set_product>
            <checkout_cart_product_add_after>
                <observers>
                    <scommerce_googletagmanagerpro_setcookie>
                        <type>singleton</type>
                        <class>scommerce_googletagmanagerpro/observer</class>
                        <method>addProductCookie</method>
                    </scommerce_googletagmanagerpro_setcookie>
                </observers>
            </checkout_cart_product_add_after>

            <sales_quote_remove_item>
                <observers>
                    <scommerce_googletagmanagerpro_removecookie>
                        <type>singleton</type>

                        <class>scommerce_googletagmanagerpro/observer</class>
                        <method>removeProductCookie</method>
                    </scommerce_googletagmanagerpro_removecookie>
                </observers>
            </sales_quote_remove_item>

            <eav_collection_abstract_load_before>
                <observers>
                    <scommerce_googletagmanagerpro>
                        <class>scommerce_googletagmanagerpro/observer</class>
                        <method>beforeCollectionLoad</method>
                    </scommerce_googletagmanagerpro>
                </observers>
            </eav_collection_abstract_load_before>

            <controller_action_postdispatch_contacts_index_post>
                <observers>
                    <scommerce_googletagmanagerpro_contact_submit_after>
                        <type>singleton</type>
                        <class>scommerce_googletagmanagerpro/observer</class>
                        <method>ContactPost</method>
                    </scommerce_googletagmanagerpro_contact_submit_after>
                </observers>
            </controller_action_postdispatch_contacts_index_post>

            <customer_register_success>
                <observers>
                    <scommerce_googletagmanagerpro_register_success>
                        <type>singleton</type>
                        <class>scommerce_googletagmanagerpro/observer</class>
                        <method>CustomerRegister</method>
                    </scommerce_googletagmanagerpro_register_success>
                </observers>
            </customer_register_success>
        </events>
    </frontend>
    <adminhtml>
        <events>
            <sales_order_creditmemo_save_after>
                <observers>
                    <scommerce_googletagmanagerpro>
                        <class>scommerce_googletagmanagerpro/observer</class>
                        <method>refundOrderInventory</method>
                    </scommerce_googletagmanagerpro>
                </observers>
            </sales_order_creditmemo_save_after>

            <sales_order_place_after>
                <observers>
                    <scommerce_googletagmanagerpro>
                        <class>scommerce_googletagmanagerpro/observer</class>
                        <method>sendTransactionToGA</method>
                    </scommerce_googletagmanagerpro>
                </observers>
            </sales_order_place_after>
        </events>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <scommerce_googletagmanagerpro>
                                            <title>Scommerce Google Tag Manager Pro Tracking</title>
                                        </scommerce_googletagmanagerpro>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <scommerce_googletagmanagerpro>
                    <file>scommerce_googletagmanagerpro.xml</file>
                </scommerce_googletagmanagerpro>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <scommerce_googletagmanagerpro>
            <options>
                <enabled>0</enabled>
                <license_key></license_key>
                <revenue>0</revenue>
                <account_id></account_id>
                <include_transaction_id>0</include_transaction_id>
                <pii_data_format>0</pii_data_format>
                <admin_source>phone</admin_source>
                <admin_medium>admin</admin_medium>
                <gdpr_cookie_enabled>0</gdpr_cookie_enabled>
                <gdpr_cookie_key>cookie_accepted</gdpr_cookie_key>
                <order_total_include_vat>1</order_total_include_vat>
                <order_item_include_vat>1</order_item_include_vat>
            </options>
        </scommerce_googletagmanagerpro>
    </default>
</config>
