<?xml version="1.0" encoding="UTF-8"?>
<config>
	<tabs>
		<scommerce translate="label" module="scommerce_googletagmanagerpro">
			<label>Scommerce Configuration</label>
			<sort_order>100</sort_order>
		</scommerce>
	</tabs>
    <sections>
		<scommerce_googletagmanagerpro>
			<label>Google Tag Manager Pro Tracking</label>
			<tab>scommerce</tab>
			<sort_order>100</sort_order>
			<show_in_default>1</show_in_default>
			<show_in_website>1</show_in_website>
			<show_in_store>1</show_in_store>
			<groups>
                <options translate="label">
                    <label>General</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled>
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>
						<license_key translate="label">
                            <label>License Key</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
							<depends><enabled>1</enabled></depends>
                        </license_key>
                        <account_id>
                            <label>Container Id</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>You can get container ID from Google Tag Manager, it should be in the following format GTM-XXXXXX</comment>
							<depends><enabled>1</enabled></depends>
                        </account_id>
						<enhanced_ecommerce>
							<label>Enhanced Ecommerce</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>40</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<depends><enabled>1</enabled></depends>
						</enhanced_ecommerce>
						<brand_dropdown translate="label">
                            <label>Brand Attribute</label>
                            <frontend_type>select</frontend_type>
                            <source_model>scommerce_googletagmanagerpro/source_brand_dropdown</source_model>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
							<comment>Select product attribute which you use to set your brand names</comment>
							<depends><enhanced_ecommerce>1</enhanced_ecommerce><enabled>1</enabled></depends>
                        </brand_dropdown>
                        <brand_text translate="label">
                            <label>Brand text box</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
							<comment>You can add your brand name here to pass this to Google</comment>
							<depends><enhanced_ecommerce>1</enhanced_ecommerce><enabled>1</enabled></depends>
                        </brand_text>
						<base>
							<label>Base</label>
							<frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
							<depends><enhanced_ecommerce>1</enhanced_ecommerce><enabled>1</enabled></depends>
							<comment>Set 'Yes' if you want to send base order data and 'No' to send store order data to Google</comment>
						</base>
						<send_phone_order_transaction>
                            <label>Send Phone or Admin Orders</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>80</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
							<depends><enhanced_ecommerce>1</enhanced_ecommerce><enabled>1</enabled></depends>
							<comment>Enable this feature only if you want to send admin orders on order creation</comment>
                        </send_phone_order_transaction>
						<admin_source translate="label">
                            <label>Source</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>90</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
							<comment>You can add your source here to pass this to Google for admin orders</comment>
							<depends>
								<enabled>1</enabled>
								<enhanced_ecommerce>1</enhanced_ecommerce>
								<send_phone_order_transaction>1</send_phone_order_transaction>
							</depends>
                        </admin_source>
						<admin_medium translate="label">
                            <label>Medium</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
							<comment>You can add your medium here to pass this to Google for admin orders</comment>
							<depends>
								<enabled>1</enabled>
								<enhanced_ecommerce>1</enhanced_ecommerce>
								<send_phone_order_transaction>1</send_phone_order_transaction>
							</depends>
                        </admin_medium>
						<enable_dynamic translate="label comment">
							<label>Enable dynamic remarketing tags and facebook tracking</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>110</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<depends>
								<enabled>1</enabled>
							</depends>
						</enable_dynamic>
						<attribute_key translate="label comment">
							<label>Product ID Attribute</label>
							<comment><![CDATA[Product ID should match Google Merchant Center feed]]></comment>
							<frontend_type>select</frontend_type>
							<source_model>scommerce_googletagmanagerpro/system_config_source_attributes</source_model>
							<sort_order>120</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<depends><enable_dynamic>1</enable_dynamic><enabled>1</enabled></depends>
						</attribute_key>
						<enable_optimize translate="label comment">
							<label>Enable Google Optimize</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>125</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment><![CDATA[Set yes to add page-hiding snippet code for google optimize]]></comment>
							<depends>
								<enabled>1</enabled>
							</depends>
						</enable_optimize>
						<optimize_container_id translate="label">
                            <label>Optimize Container Id</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>128</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
							<comment>You can add your optimize container id here</comment>
							<depends><enable_optimize>1</enable_optimize></depends>
                        </optimize_container_id>
						<gdpr_cookie_enabled translate="label comment">
							<label>Enable GDPR cookie check</label>
							<comment><![CDATA[If you are using our <a href="https://www.scommerce-mage.com/magento1-gdpr-compliance.html" target='_blank'>GDPR extension</a> or any other GDPR extension and you want to block sending information to Google then set this to "yes" based on customer preference. <strong>Please note this is optional as far as you are not sending any PII to Google this setting needs to be turned off</strong>]]></comment>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>130</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<depends><enabled>1</enabled></depends>
						</gdpr_cookie_enabled>
						<force_decline translate="label comment">
							<label>Force decline</label>
							<comment><![CDATA[If you set this to yes then GTM tracking will be turned off unless customer accepts the cookie policy from the cookie notification message from your website]]></comment>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>140</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<depends>
								<enabled>1</enabled>
								<gdpr_cookie_enabled>1</gdpr_cookie_enabled>
							</depends>
						</force_decline>
						<gdpr_cookie_key translate="label">
                            <label>GDPR Cookie Key</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>150</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
							<comment><![CDATA[You can add name of your GDPR cookie here for our <a href="https://www.scommerce-mage.com/magento1-gdpr-compliance.html" target='_blank'>GDPR extension</a> the name of cookie key is <strong>cookie_accepted</strong> but if you are using other GDPR extension then please check with extension developer]]></comment>
							<depends>
								<enabled>1</enabled>
								<gdpr_cookie_enabled>1</gdpr_cookie_enabled>
							</depends>
                        </gdpr_cookie_key>
						<order_total_include_vat translate="label comment">
							<label>Order Total Include VAT</label>
							<comment><![CDATA[If set to "Yes" then then VAT will be included in order total]]></comment>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>150</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<depends>
								<enabled>1</enabled>
							</depends>
						</order_total_include_vat>
                    </fields>
                </options>
			</groups>
		</scommerce_googletagmanagerpro>
    </sections>
</config>
